@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(13.9% 0.012 285.9);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(13.9% 0.012 285.9);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(13.9% 0.012 285.9);
  --primary: oklch(56.5% 0.187 265.8);
  --primary-foreground: oklch(99.1% 0.003 286.4);
  --secondary: oklch(97.5% 0.003 286.4);
  --secondary-foreground: oklch(21.7% 0.017 285.9);
  --muted: oklch(97.5% 0.003 286.4);
  --muted-foreground: oklch(53.6% 0.014 285.9);
  --accent: oklch(97.5% 0.003 286.4);
  --accent-foreground: oklch(21.7% 0.017 285.9);
  --destructive: oklch(64.3% 0.242 28.2);
  --destructive-foreground: oklch(99.1% 0.003 286.4);
  --border: oklch(92.1% 0.005 286.4);
  --input: oklch(92.1% 0.005 286.4);
  --ring: oklch(56.5% 0.187 265.8);
  --radius: 0.5rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(13.9% 0.012 285.9);
  --foreground: oklch(99.1% 0.003 286.4);
  --card: oklch(13.9% 0.012 285.9);
  --card-foreground: oklch(99.1% 0.003 286.4);
  --popover: oklch(13.9% 0.012 285.9);
  --popover-foreground: oklch(99.1% 0.003 286.4);
  --primary: oklch(64.2% 0.202 265.8);
  --primary-foreground: oklch(21.7% 0.017 285.9);
  --secondary: oklch(27.2% 0.018 285.9);
  --secondary-foreground: oklch(99.1% 0.003 286.4);
  --muted: oklch(27.2% 0.018 285.9);
  --muted-foreground: oklch(70.9% 0.011 285.9);
  --accent: oklch(27.2% 0.018 285.9);
  --accent-foreground: oklch(99.1% 0.003 286.4);
  --destructive: oklch(39.6% 0.141 25.723);
  --destructive-foreground: oklch(99.1% 0.003 286.4);
  --border: oklch(27.2% 0.018 285.9);
  --input: oklch(27.2% 0.018 285.9);
  --ring: oklch(61.2% 0.222 265.8);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
